@import '~antd/dist/antd.css';
 
.site-layout-background {
  background: rgb(255, 211, 211);
}

.header-style {
  background: rgb(111, 178, 255);
  height: 50px;
}
 
.site-top-game-list ul {
  max-height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
}